<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="Persons.PersonsPackage" genModel="model/Persons.genmodel" uri="platform:/plugin/Persons/model/Persons.ecore"/>
  </extension>
</plugin>
