<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated miniyaml -->
      <package
            uri="http://york.ac.uk/ttc/miniyaml/1.0.0"
            class="miniyaml.MiniyamlPackage"
            genModel="model/miniyaml.genmodel"/>
   </extension>

</plugin>
