<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="uk.ac.york.ttc.containers.design.Activator"
               id="uk.ac.york.ttc.containers.design"
	       name="containers">
    </component>
  </extension>
</plugin>
