<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CPM -->
      <package
            uri="http://de.ubt.ai1.bw.qvt.examples.cpm.ecore"
            class="cpm.CpmPackage"
            genModel="model/CPM.genmodel"/>
   </extension>

</plugin>
