<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="uk.ac.york.ttc.containers.transformations.dt.ContainersToYAMLCommand"
            commandId="uk.ac.york.ttc.containers.transformations.dt.containers2yaml">
      </handler>
      <handler
            class="uk.ac.york.ttc.containers.transformations.dt.YAMLToContainersCommand"
            commandId="uk.ac.york.ttc.containers.transformations.dt.yaml2containers">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="uk.ac.york.ttc.containers.transformations.dt.containers2yaml"
               id="TransformContainersToYAML"
               label="Generate Compose YAML"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="uk.ac.york.ttc.containers.transformations.dt.isContainers">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="uk.ac.york.ttc.containers.transformations.dt.yaml2containers"
               id="TransformYAMLToContainers"
               label="Generate Containers Model"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="uk.ac.york.ttc.containers.transformations.dt.isYAML">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="uk.ac.york.ttc.containers.transformations.dt.isContainers">
         <iterate
               ifEmpty="false"
               operator="and">
            <adapt
                  type="org.eclipse.core.resources.IFile">
               <test
                     property="org.eclipse.core.resources.name"
                     value="*.containers">
               </test>
            </adapt>
         </iterate>
      </definition>
      <definition
            id="uk.ac.york.ttc.containers.transformations.dt.isYAML">
         <iterate
               ifEmpty="false"
               operator="and">
            <adapt
                  type="org.eclipse.core.resources.IFile">
               <or>
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.yml">
                  </test>
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.yaml">
                  </test>
               </or>
            </adapt>
         </iterate>
      </definition>
   </extension>

</plugin>
