<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Configuration -->
      <package
            uri="platform:/resource/MediniQVTFamilies2PersonsConfiguration/model/Configuration.ecore"
            class="Config.ConfigPackage"
            genModel="model/Configuration.genmodel"/>
   </extension>

</plugin>
