/FamiliesToPersons.ecore
/FamiliesToPersons.genmodel
/FamiliesToPersons.injection.xmi
/FamiliesToPersons.pre.ecore
/FamiliesToPersons.pre.tgg.xmi
/FamiliesToPersons.sma.xmi
/FamiliesToPersons.tgg.xmi
