<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="FamiliesToPersons.FamiliesToPersonsPackage" genModel="model/FamiliesToPersons.genmodel" uri="platform:/plugin/FamiliesToPersons/model/FamiliesToPersons.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="FamiliesToPersons.Rules.RulesPackage" genModel="model/FamiliesToPersons.genmodel" uri="platform:/plugin/FamiliesToPersons/model/FamiliesToPersons.ecore#//Rules"/>
  </extension>
</plugin>
