<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Gantt -->
      <package
            uri="http://de.ubt.ai1.bw.qvt.examples.gantt.ecore"
            class="gantt.GanttPackage"
            genModel="model/Gantt.genmodel"/>
   </extension>

</plugin>
